{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
        {# Login form #}
    <h1>Connexion !</h1>

    <form action="{{ path('security_login') }}" method="post" style="height: 28vw;margin-top: 15vw;margin-left: 15%;width: 70%">
        <div class="form-group">
            <input placeholder="Email" required name="_username" type="text" class="form-control">
        </div>
        <div class="form-group">
            <input placeholder="Mot de passe" required name="_password" type="password" class="form-control">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Connexion !</button>
        </div>
    </form>
{% endblock %}
