{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div style="width: 100%; height: 20vw; background: #999999">
  <h1 class="title_home" style="padding-top: 5vw">DÉCOUVREZ STRASBOURG</h1>
  <h1 class="title_home">À VOTRE PROPRE RYTHME !</h1>
</div>
 <div class="row">
  <div style="font-size: 2vw; padding: 10px 20px; text-align: justify" class="col-6">
   <p style="margin: 0;padding-left: 20px; padding-top: 10px">
    Louez un vélo à Strasbourg et explorez toutes les options que la ville vous offre.
    Parcs calmes, restaurants multiculturels ou vie nocturne trépidante,
    vous décidez de ce que vous voulez faire et quand. Sur votre vélo,
    vous pouvez sentir les ambiances des différents quartiers de la ville : du chic Mitte, au calme Prenzlauerberg,
    en passant par le multiculturel Kreuzberg, vous pouvez aller de l’un à l’autre plus facilement.
    Les Berlinois aiment le vélo, et si vous aussi, nous avons ce qu’il vous faut.
   </p>
  </div>
  <div class="col-6" style="padding-right: 0">
    <img style="width: 100%" src="{{ asset('build/velo.jpg') }}">
  </div>
 </div>
{% endblock %}
